<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>You are being redirected!</title>
        <meta http-equiv="refresh" content="1; url={{url}}" />
    </head>
    <body>
        <h1>You are being redirected</h1>
        <p>If you do not get redirected automatically, you can click the link below:</p>
        <a href={{url}}>
            Go back to <b>{{url}}</b>
        </a>
    </body>
</html>